{% extends 'base.html' %}
{% block title %}
    主机
{% endblock %}

{% block content %}
		<div class="col-md-8">
	     <table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>主机名</th>
							<th>外网IP</th>
							<th>操作系统</th>
							<th>系统版本</th>
                            <th>功能</th>
						</tr>
					</thead>
					<tbody>
						{% for row in posts.object_list %}
							<tr>
								<td> {{ row.hostname }} </td>
								<td> {{ row.outer_ip }} </td>
								<td> {{ row.os_type }} </td>
								<td> {{ row.os_version }} </td>
                                <td>
                                    <a href="/show_detail_host/?host_id={{ row.id }}">详细信息</a>
                                    <a href="#">删除</a>
                                    <a href="#">编辑</a>
                                </td>
							</tr>
						{% endfor %}
				  </tbody>
			 </table>
             {% if posts.has_previous %}
                <a href="/show_hosts/?p={{ posts.previous_page_number}}">上一页</a> 
             {% else %}
                <a href="#">上一页</a>
             {% endif %}
             {% if posts.has_next %}
                <a href="/show_hosts/?p={{ posts.next_page_number }}">下一页</a>
             {% endif %}
             <span>第{{ posts.number }}页</span>/<span>共{{ paginator.num_pages }}页</span>
	  </div>	
{% endblock %}
